<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetMon</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-gray-100 font-sans">
    <div class="flex h-screen">
        <!-- Sidebar -->
        <div class="bg-gray-800 text-white w-64 space-y-6 py-7 px-2">
            <div class="flex items-center justify-center">
                <img src="/static/logo.png" alt="NetMon Logo" class="h-12 w-12 mr-2">
                <h1 class="text-2xl font-bold">NetMon</h1>
            </div>
            <nav>
                <a href="/page/dashboard" class="block py-2.5 px-4 rounded hover:bg-gray-700">Dashboard</a>
                <a href="/page/speedtest" class="block py-2.5 px-4 rounded hover:bg-gray-700">Speed Test</a>
                <a href="/page/myip" class="block py-2.5 px-4 rounded hover:bg-gray-700">Cek IP Saya</a>
                <a href="/page/history" class="block py-2.5 px-4 rounded hover:bg-gray-700">History</a>
                <a href="/page/settings" class="block py-2.5 px-4 rounded hover:bg-gray-700">Settings</a>
                <a href="https://ifauzeee.vercel.app/blog/kekurangan-hosting-proyek-di-pythonanywhere-free-tier-untuk-netmon" target="_blank" class="block py-2.5 px-4 rounded hover:bg-gray-700">Notes</a>
            </nav>
        </div>
        <!-- Content -->
        <div class="flex-1 p-10">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="bg-gray-800 text-white text-center py-4">
        <p>&copy; All rights reserved - Muhammad Ibnu Fauzi 2025</p>
    </footer>
    <script src="/static/app.js"></script>
</body>
</html>